@import 'dropcloth';
@import 'fonts';

// Colors

// Fonts
$base_font: Helvetica, Arial, sans-serif;

// Styles

// Theme rules
@import 'global';
@import 'header';
@import 'footer';
@import 'colorbox';
@import 'blocks';

// Grid rules
$zen-column-count: 16;
$zen-gutter-width: 20px;
$zen-grid-width: 960px;