/* line 4, ../../sass/_base.scss */
body {
  background: #f4f4f4;
}

/* line 5, ../../sass/layouts/maintenance.scss */
body, html {
  height: 100%;
  min-height: 100%;
}

/* line 14, ../../sass/layouts/maintenance.scss */
#header,
#content,
#page,
#main,
.sidebars {
  height: 100%;
  min-height: 100%;
}

/* line 19, ../../sass/layouts/maintenance.scss */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 140px;
  background: #00c2e7;
}

/* line 25, ../../sass/layouts/maintenance.scss */
.sidebars {
  position: fixed;
  left: 140px;
  top: 0;
  z-index: 1;
  width: 214px;
  background: #9ef0ff;
}

/* line 31, ../../sass/layouts/maintenance.scss */
#content {
  margin-left: 354px;
  padding: 0 110px;
}
