/* -- Global Styles -- */

body{
    background: #869f21;
}

.section-wrapper{
    margin: 0 auto;
    width: 1200px;
}

/* -- Header Styles -- */

header{
    background: #333;
}

header a{
    color: #fff;
}

/* -- Content Styles -- */

#section-content{
    background: #c2e32a;
}