@import "zen";

$zen-column-count: 16;
$zen-gutter-width: 10px;
$zen-grid-width: 960px;

#page{
  @include zen-grid-container();
  width: 960px;
  margin: 0 auto;
}

#logo{
  @include zen-grid-item(2, 1);
}

#name-and-slogan{
  @include zen-grid-item(4, 4);
}

#secondary-menu{
  @include zen-clear(left);
  @include zen-grid-item(8, 8);
}
