label{
  display: block;
  font: normal 12px/1 $rk;
  color: $blue;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: $bottom;
  .form-required{
    color: $red;
  }
  &.option{
    color: $black;
    text-transform: none;
    vertical-align: middle;
    margin-bottom: 8px;
    display: inline;
    cursor: pointer;
  }
}

input,
textarea{
  display: block;
  background: $white;
  padding: 24px 28px;
  border: 1px solid $gray;
  border-bottom: 3px solid $blue;
  width: 100%;
  font: normal 18px/1.5 $rl;
  color: $black;
  @include box-sizing(border-box);
  @include transition(border-color 0.2s);
  &:focus{
    border-bottom-color: $dkblue;
  }
  &.error{
    border-bottom-color: $red;
  }
}

textarea{
  padding-bottom: 40px;
}

input[type="submit"] {
  display: inline-block;
  background: $blue;
  color: $white;
  font: normal 22px/1 $rb;
  width: 308px;
  height: 70px;
  border: none !important;
  margin-right: 2.5rem;
  @include transition(background 0.2s);
  &:hover,
  &:focus{
    background: $dkblue;
  }
}

$inputs:
    'input[type="checkbox"]',
    'input[type="checkbox"]:checked',
    'input[type="radio"]',
    'input[type="radio"]:checked';

@for $i from 1 through length($inputs) {
  $x: -($i * 20px - 20);
  $input: nth($inputs, $i);

  #{$input} {
    opacity: 0;
    width: 0;
    position: absolute;
    + label{
      &:before{
        content: '';
        display: inline-block;
        width: 20px;
        height: 16px;
        background-image: url('../img/input.png');
        background-position: $x 0 !important;
        vertical-align: middle;
        margin: -1px 4px 1px 0;
      }
    }
  }
}

fieldset{
  border: 1px solid $gray;
  padding: 0 36px;
}

.form-item{
  margin-bottom: $bottom * 3 !important;
  &.form-type-password-confirm{
    position: relative;
    .password-strength{
      position: absolute;
      right: 0;
      top: 32px;
      width: 50%;
      height: 32px;
      border: 1px solid $gray;
      margin: 0;
      @include box-sizing(border-box);
    }
    .password-indicator{
      background-color: $white;
      height: 100%;
    }
    .password-strength-title,
    .password-strength-text{
      font: normal 12px/32px $rm;
      position: absolute;
      top: 0;
      left: 20px;
      color: $dkblue;
    }
    .password-strength-text{
      left: auto;
      right: 20px;
    }
    .indicator{
      background: $ltblue;
    }
  }
  &.confirm-parent{
    & > div{
      position: absolute;
      left: -20px;
      top: -2px;
      text-indent: -9999px;
      width: 14px;
      height: 12px;
      margin: 0;
    }
    .ok{
      background: url(../img/check.png) no-repeat;
      width: 14px;
      height: 12px;
      position: absolute;
      top: 0;
      left: 0;
      &:after{
        content: '';
        background: url(../img/check.png) no-repeat;
        width: 14px;
        height: 12px;
        position: absolute;
        top: 171px;
        left: 0;
      }
    }
  }
  .password-suggestions{
    position: absolute;
    right: 0;
    top: 86px;
    width: 50% !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    @include box-sizing(border-box);
  }
  .description{
    font: normal 12px/1.5 $rm;
    color: $dkgray;
    margin-top: 12px;
  }
}

.form-radios,
.form-checkboxes,
.form-type-checkbox,
.form-type-radio{
  .form-item{
    margin-bottom: 0 !important;
  }
}

.fieldset-description{
  margin-bottom: $bottom * 2;
  font-family: $rli;
}

.collapsible{
  &.collapsed{
    legend{
      a:before{
        @include rotate(0);
      }
    }
  }
  legend{
    a{
      text-decoration: none !important;
      &:before{
        content: '';
        display: inline-block;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 10px solid $dkgray;
        @include rotate(90deg);
        vertical-align: middle;
        margin-bottom: 4px;
      }
    }
  }
}

.form-type-textfield{
  position: relative;
  input{
    position: relative;
    z-index: 1;
  }
  .field-suffix{
    position: absolute;
    z-index: 10;
    right: 28px;
    top: 50%;
    margin-top: -12px;
  }
  .machine-name-label{
    display: none;
  }
  .machine-name-value{
    color: $dkgray;
    margin-right: 8px;
  }
  .admin-link{
    &:after,
    &:before{
      content: '';
    }
  }
}

// Chosen

form .form-item .chzn-container{
  a, span{
    background: $white !important;
    color: $black;
  }
  a, .chzn-drop{
    border-color: $gray !important;
    @include border-radius(0);
    @include box-shadow(none);
  }
  .chzn-drop{
    z-index: 100;
  }
  .chzn-results{
    margin: 0 !important;
    padding: 0 !important;
    li{
      padding: 8px 28px 7px;
    }
    .no-results{
      background: $white;
      color: $dkgray;
      span{
        color: $blue;
      }
    }
  }
  & > a{
    font: normal 18px/1.5 $rl;
    border-bottom: 3px solid $blue !important;
    padding: 24px 28px 28px;
    position: relative;
    z-index: 10;
    &:after{
      content: '';
      border-top: 10px solid $dkgray;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -5px;
    }
  }
  div{
    background-color: $white !important;
    b{
      background: none !important;
    }
  }
  .highlighted{
    background: $blue;
  }
}


#content .vertical-tabs{
  border: none;
  margin: 0;
  .vertical-tabs-list{
    border: none;
    background: $ltblue;
    color: $dkblue;
    width: 17rem;
    margin-left: -($tabsize + $contentgutter);
    box-shadow: 0 -17rem $ltblue;
    li{
      border: none;
      background: none;
      font-size: 18px;
      &:hover,
      &:focus{
        outline: none;
      }
      a:after{
        content: "";
        display: block;
        width: 0;
        padding: 0.5rem;
        background: $ltblue;
        border: 0.5em solid $bg;
        border-radius: 2rem;
        position: absolute;
        top: 50%;
        left: 100%;
        margin: -1em 0 0 -1rem;
        opacity: 0;
        transition: opacity $timing, border $timing;
      }
      &.selected{
        color: $white;
        a:after{
          opacity: 1;
        }
      }
      a{
        padding: 2rem;
        position: relative;
        color: inherit;
        &:hover,
        &:focus{
          outline: none;
        }
      }
      strong{
        color: inherit;
      }
    }
    .summary:not(:empty){
      display: block;
      font-style: italic;
      font-size: 11px;
      margin-top: 16px;
    }
  }
  .vertical-tabs-pane{
    padding: 2rem 0 0;
  }
}

// Specific items

#edit-title{
  padding: 24px 0;
  background: none;
  border: none;
  border-bottom: 3px solid $blue;
  font-weight: 200;
  font-size: 2.5em;
  color: $dkblue;
  padding: 0 0 24px;
  &:focus{
    outline: none;
  }
}

#edit-preview{
  background: $gray;
}

.form-type-checkbox + .form-type-checkbox {
margin-top: -30px;
}

.button {
  padding: 1rem 2.5rem;
  background-color: #DDD;
  color: $white;
  font-family: "RobotoBold";
  margin-right: 1rem;
}
