label{
  display: block;
  font: normal 12px/1 $rk;
  color: $blue;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: $bottom;
  .form-required{
    color: $red;
  }
  &.option{
    color: $black;
    text-transform: none;
    vertical-align: middle;
    margin-bottom: 8px;
    display: inline;
    cursor: pointer;
  }
}

input,
textarea{
  display: block;
  background: $white;
  padding: 24px 28px;
  border: 1px solid $gray;
  border-bottom: 3px solid $gray;
  width: 100%;
  font: normal 18px/1.5 $rl;
  color: $black;
  @include box-sizing(border-box);
  @include transition(border-color 0.2s);
  &:focus{
    border-bottom-color: $blue;
    outline: 0;
  }
  &.error{
    border-bottom-color: $red;
  }
  &[disabled=disabled]{
    background: $bg;
    border-bottom-color: $dkgray;
  }
}

textarea{
  padding-bottom: 40px;
}

input[type="submit"] {
  display: inline-block;
  background: $dkgray;
  color: $white;
  font: normal 22px/1 $rb;
  width: 12rem;
  height: 4rem;
  border: none !important;
  margin: 0 1.5rem 1.5rem 0;
  @include transition(background 0.2s);
  &#edit-submit{
    background: $blue;
  }
  &#edit-delete,
  &.remove{
    background: $red;
  }
  &:hover,
  &:focus{
    background: $dkblue;
  }
}

$inputs:
    'input[type="checkbox"]',
    'input[type="checkbox"]:checked',
    'input[type="radio"]',
    'input[type="radio"]:checked';

@for $i from 1 through length($inputs) {
  $x: -($i * 20px - 20);
  $input: nth($inputs, $i);

  #{$input} {
    opacity: 0;
    width: 0;
    position: absolute;
    + label{
      &:before{
        content: '';
        display: inline-block;
        width: 20px;
        height: 16px;
        background-image: url('../img/input.png');
        background-position: $x 0 !important;
        vertical-align: middle;
        margin: -1px 4px 1px 0;
      }
    }
  }
}

fieldset{
  border: 1px solid $gray;
  padding: 2rem;
}

.form-item{
  margin-bottom: $bottom * 3;
  &:last-child{
    margin-bottom: 0;
  }
  &.form-type-password-confirm{
    position: relative;
    .password-strength{
      position: absolute;
      right: 0;
      top: 32px;
      width: 50%;
      height: 32px;
      border: 1px solid $gray;
      margin: 0;
      @include box-sizing(border-box);
    }
    .password-indicator{
      background-color: $white;
      height: 100%;
    }
    .password-strength-title,
    .password-strength-text{
      font: normal 12px/32px $rm;
      position: absolute;
      top: 0;
      left: 20px;
      color: $dkblue;
    }
    .password-strength-text{
      left: auto;
      right: 20px;
    }
    .indicator{
      background: $ltblue;
    }
  }
  &.confirm-parent{
    & > div{
      position: absolute;
      left: -20px;
      top: -2px;
      text-indent: -9999px;
      width: 14px;
      height: 12px;
      margin: 0;
    }
    .ok{
      background: url(../img/check.png) no-repeat;
      width: 14px;
      height: 12px;
      position: absolute;
      top: 0;
      left: 0;
      &:after{
        content: '';
        background: url(../img/check.png) no-repeat;
        width: 14px;
        height: 12px;
        position: absolute;
        top: 171px;
        left: 0;
      }
    }
  }
  .password-suggestions{
    position: absolute;
    right: 0;
    top: 86px;
    width: 50% !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    @include box-sizing(border-box);
  }
  .description{
    font: normal 12px/1.5 $rm;
    color: $dkgray;
    margin-top: 12px;
  }
}

.form-radios,
.form-checkboxes,
.form-type-checkbox,
.form-type-radio{
  .form-item{
    margin-bottom: 0 !important;
  }
}

.fieldset-description{
  margin-bottom: $bottom * 2;
  font-family: $rli;
}

.collapsible{
  &.collapsed{
    legend{
      a:before{
        @include rotate(0);
      }
    }
  }
  legend{
    a{
      text-decoration: none !important;
      &:before{
        content: '';
        display: inline-block;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 10px solid $dkgray;
        @include rotate(90deg);
        vertical-align: middle;
        margin-bottom: 4px;
      }
    }
  }
}

.form-type-textfield{
  position: relative;
  input{
    position: relative;
    z-index: 1;
  }
  .field-suffix{
    position: absolute;
    z-index: 10;
    right: 28px;
    top: 50%;
    margin-top: -12px;
  }
  .machine-name-label{
    display: none;
  }
  .machine-name-value{
    color: $dkgray;
    margin-right: 8px;
  }
  .admin-link{
    &:after,
    &:before{
      content: '';
    }
  }
}

// Select

select{
  background: $white !important;
  color: $black;
  font: normal 18px/1.5 $rl;
  border-bottom: 3px solid $blue !important;
  padding: 24px 28px 28px;
  position: relative;
  z-index: 10;
  width: 100%;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  &.highlighted{
    background: $blue;
  }
}

.link-field-subrow{
  display: flex;
}

#content .vertical-tabs{
  border: none;
  margin: 0 0 2rem;
  display: flex;
  .vertical-tabs-list{
    border: none;
    background: $gray;
    color: $black;
    width: 30rem;
    margin: 0;
    li{
      border: none;
      background: none;
      font-size: 18px;
      &:hover,
      &:focus{
        outline: none;
      }
      a:after{
        content: "";
        display: block;
        width: 0;
        padding: 0.5rem;
        background: $ltblue;
        border: 0.5em solid $bg;
        border-radius: 2rem;
        position: absolute;
        top: 50%;
        left: 100%;
        margin: -1em 0 0 -1rem;
        opacity: 0;
        transition: opacity $timing, border $timing;
      }
      &.selected{
        color: $dkgray;
        a:after{
          opacity: 1;
        }
      }
      a{
        padding: 2rem;
        position: relative;
        color: inherit;
        &:hover,
        &:focus{
          outline: none;
        }
      }
      strong{
        color: inherit;
      }
    }
    .summary:not(:empty){
      display: block;
      font-style: italic;
      font-size: 11px;
      margin-top: 16px;
    }
  }
  .vertical-tabs-panes{
    flex: auto;
    width: 100%;
  }
  .vertical-tabs-pane{
    padding: 2rem 0 0 2rem;
  }
}

// Specific items

#edit-title{
  padding: 24px 0;
  background: none;
  border: none;
  border-bottom: 3px solid $blue;
  font-weight: 200;
  font-size: 2.5em;
  color: $dkblue;
  padding: 0 0 24px;
  &:focus{
    outline: none;
  }
}

.form-type-checkbox + .form-type-checkbox {
margin-top: -30px;
}

.button {
  padding: 1rem 2.5rem;
  background-color: #DDD;
  color: $white;
  font-family: "RobotoBold";
  margin-right: 1rem;
}

.context-plugins .context-plugin-info{
  padding: 2rem;
}