body{
  background: $bg;
  color: $black;
  font-family: $rr;
}

h1{
  font: normal 39px/1.5 $rt;
  color: $blue;
  border-bottom: 3px solid $blue;
  margin-bottom: 48px;
}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}

p{
  margin-bottom: 20px;
}

