/* line 2, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_admin-menu.scss */
#admin-menu, #admin-menu * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 7, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_admin-menu.scss */
#admin-menu .dropdown span, #admin-menu .dropdown a {
  font: normal 10px/12px Arial, sans-serif !important;
  text-transform: none !important;
  display: block;
  height: 12px;
  padding: 4px 8px;
}
/* line 14, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_admin-menu.scss */
#admin-menu .dropdown li {
  font: normal 10px/12px Arial, sans-serif !important;
  position: static;
}

/* line 2, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_blocks.scss */
.block .contextual-links-trigger {
  text-indent: -9999px;
}
/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_blocks.scss */
.block .contextual-links-wrapper {
  display: none;
}
/* line 7, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_blocks.scss */
.block .contextual-links-wrapper a {
  text-align: left !important;
  text-decoration: none !important;
}
/* line 11, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_blocks.scss */
.block .contextual-links-wrapper .contextual-links {
  padding: 2px !important;
  margin: 0 !important;
  list-style: none !important;
  background: #fff;
}
/* line 16, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_blocks.scss */
.block .contextual-links-wrapper .contextual-links li, .block .contextual-links-wrapper .contextual-links a {
  margin: 0 !important;
  text-transform: none !important;
  letter-spacing: normal !important;
}
/* line 21, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_blocks.scss */
.block .contextual-links-wrapper .contextual-links li:before, .block .contextual-links-wrapper .contextual-links li:after, .block .contextual-links-wrapper .contextual-links a:before, .block .contextual-links-wrapper .contextual-links a:after {
  content: '' !important;
  content: none !important;
}
/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_blocks.scss */
.block .contextual-links-wrapper .contextual-links li {
  padding: 0 !important;
  list-style: none !important;
}
/* line 29, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_blocks.scss */
.block .contextual-links-wrapper .contextual-links li a {
  padding: 2px 6px;
  font: normal 14px/1.5 Arial, sans-serif !important;
  color: #333;
  display: block;
}
/* line 38, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_blocks.scss */
.block.contextual-links-region-active {
  outline: 1px dashed #999;
}

/* line 2, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_breadcrumbs.scss */
.breadcrumb ul, .breadcrumb ol {
  list-style: none;
}

/* line 6, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_elements.scss */
.form-item,
.form-actions,
.item-list ul,
.item-list ul li {
  margin: 0;
}

/* line 2, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_navigation.scss */
.navigation > ul {
  float: left;
  width: 100%;
}
/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_navigation.scss */
.navigation > ul > li {
  float: left;
}
/* line 7, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_navigation.scss */
.navigation > ul > li a {
  display: inline-block;
}
/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/base/_mixins.scss */
.navigation > ul > li.hover, .navigation > ul > li:hover, .navigation > ul > li:focus {
  z-index: 10;
}
/* line 12, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_navigation.scss */
.navigation > ul > li.hover > ul, .navigation > ul > li:hover > ul, .navigation > ul > li:focus > ul {
  display: block;
}
/* line 19, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_navigation.scss */
.navigation ul li {
  position: relative;
  list-style: none;
  list-style-image: none;
  z-index: 1;
}
/* line 25, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_navigation.scss */
.navigation ul ul {
  position: absolute;
  display: none;
}
/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_navigation.scss */
.navigation ul ul ul {
  display: none;
}

/* line 1, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/dropcloth-0.2.1/stylesheets/dropcloth/modules/_regions.scss */
#region-page-bottom {
  overflow: hidden;
}

@font-face {
  font-family: "RobotoRegular";
  src: url('fonts/Roboto-Regular-webfont.woff') format('woff'), url('fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('fonts/Roboto-Regular-webfont.svg') format('svg'), url('fonts/Roboto-Regular-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoItalic";
  src: url('fonts/Roboto-Italic-webfont.woff') format('woff'), url('fonts/Roboto-Italic-webfont.ttf') format('truetype'), url('fonts/Roboto-Italic-webfont.svg') format('svg'), url('fonts/Roboto-Italic-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoBold";
  src: url('fonts/Roboto-Bold-webfont.woff') format('woff'), url('fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('fonts/Roboto-Bold-webfont.svg') format('svg'), url('fonts/Roboto-Bold-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoBoldItalic";
  src: url('fonts/Roboto-Bold-webfont.woff') format('woff'), url('fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('fonts/Roboto-Bold-webfont.svg') format('svg'), url('fonts/Roboto-Bold-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoCondensed";
  src: url('fonts/Roboto-Condensed-webfont.woff') format('woff'), url('fonts/Roboto-Condensed-webfont.ttf') format('truetype'), url('fonts/Roboto-Condensed-webfont.svg') format('svg'), url('fonts/Roboto-Condensed-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoCondensedItalic";
  src: url('fonts/Roboto-CondensedItalic-webfont.woff') format('woff'), url('fonts/Roboto-CondensedItalic-webfont.ttf') format('truetype'), url('fonts/Roboto-CondensedItalic-webfont.svg') format('svg'), url('fonts/Roboto-CondensedItalic-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoBoldCondensedItalic";
  src: url('fonts/Roboto-BoldCondensedItalic-webfont.woff') format('woff'), url('fonts/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'), url('fonts/Roboto-BoldCondensedItalic-webfont.svg') format('svg'), url('fonts/Roboto-BoldCondensedItalic-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoThin";
  src: url('fonts/Roboto-Thin-webfont.woff') format('woff'), url('fonts/Roboto-Thin-webfont.ttf') format('truetype'), url('fonts/Roboto-Thin-webfont.svg') format('svg'), url('fonts/Roboto-Thin-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoThinItalic";
  src: url('fonts/Roboto-ThinItalic-webfont.woff') format('woff'), url('fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'), url('fonts/Roboto-ThinItalic-webfont.svg') format('svg'), url('fonts/Roboto-ThinItalic-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoLight";
  src: url('fonts/Roboto-Light-webfont.woff') format('woff'), url('fonts/Roboto-Light-webfont.ttf') format('truetype'), url('fonts/Roboto-Light-webfont.svg') format('svg'), url('fonts/Roboto-Light-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoLightItalic";
  src: url('fonts/Roboto-LightItalic-webfont.woff') format('woff'), url('fonts/Roboto-LightItalic-webfont.ttf') format('truetype'), url('fonts/Roboto-LightItalic-webfont.svg') format('svg'), url('fonts/Roboto-LightItalic-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoMedium";
  src: url('fonts/Roboto-Medium-webfont.woff') format('woff'), url('fonts/Roboto-Medium-webfont.ttf') format('truetype'), url('fonts/Roboto-Medium-webfont.svg') format('svg'), url('fonts/Roboto-Medium-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoMediumItalic";
  src: url('fonts/Roboto-MediumItalic-webfont.woff') format('woff'), url('fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'), url('fonts/Roboto-MediumItalic-webfont.svg') format('svg'), url('fonts/Roboto-MediumItalic-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoBlack";
  src: url('fonts/Roboto-Black-webfont.woff') format('woff'), url('fonts/Roboto-Black-webfont.ttf') format('truetype'), url('fonts/Roboto-Black-webfont.svg') format('svg'), url('fonts/Roboto-Black-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoBlackItalic";
  src: url('fonts/Roboto-BlackItalic-webfont.woff') format('woff'), url('fonts/Roboto-BlackItalic-webfont.ttf') format('truetype'), url('fonts/Roboto-BlackItalic-webfont.svg') format('svg'), url('fonts/Roboto-BlackItalic-webfont.eot') format('embedded-opentype');
}

/* line 1, ../sass/theme/_global.scss */
body {
  background: #f4f4f4;
  color: #707070;
  font-family: "RobotoRegular", sans-serif;
  margin: 0;
  line-height: 1.6;
}

/* line 9, ../sass/theme/_global.scss */
#content {
  padding: 2rem 3rem;
}
/* line 11, ../sass/theme/_global.scss */
#content > header {
  margin-bottom: 3rem;
}

/* line 16, ../sass/theme/_global.scss */
#page-title {
  margin: 0;
}

/* line 20, ../sass/theme/_global.scss */
.breadcrumb {
  font-family: "RobotoLight", sans-serif;
  font-size: 18px;
  line-height: 1;
  padding: 0;
  color: #dbdbdb;
}
/* line 27, ../sass/theme/_global.scss */
.breadcrumb ul,
.breadcrumb ol {
  padding: 0;
}
/* line 30, ../sass/theme/_global.scss */
.breadcrumb li {
  display: inline-block;
}
/* line 33, ../sass/theme/_global.scss */
.breadcrumb .separator {
  margin: 0 0.5rem;
}

/* line 38, ../sass/theme/_global.scss */
h1 {
  font: normal 39px/1.5 "RobotoThin", sans-serif;
  color: #00c2e7;
  border-bottom: 3px solid #00c2e7;
  margin-bottom: 60px;
}

/* line 49, ../sass/theme/_global.scss */
h3 {
  font: normal 27px/1.5 "RobotoLight", sans-serif;
}

/* line 53, ../sass/theme/_global.scss */
h4, legend {
  font: normal 23px/1.5 "RobotoLight", sans-serif;
}

/* line 65, ../sass/theme/_global.scss */
small {
  color: #BABABA;
  font-weight: 400;
  font-family: 'Roboto';
  padding-left: 0.5rem;
}

/* line 72, ../sass/theme/_global.scss */
a {
  color: #00c2e7;
  text-decoration: none;
}
/* line 76, ../sass/theme/_global.scss */
a:hover, a:focus {
  text-decoration: underline;
}
/* line 79, ../sass/theme/_global.scss */
a:visited {
  color: #00b5d8;
}

/* line 84, ../sass/theme/_global.scss */
p {
  margin-bottom: 20px;
}

/* line 88, ../sass/theme/_global.scss */
form {
  padding-bottom: 60px;
}

/* line 92, ../sass/theme/_global.scss */
fieldset {
  margin-bottom: 2rem;
}

/* line 96, ../sass/theme/_global.scss */
table {
  width: 100%;
}

/* line 100, ../sass/theme/_global.scss */
legend {
  line-height: 1;
}
/* line 103, ../sass/theme/_global.scss */
legend a {
  text-decoration: none;
  display: inline-block;
}
/* line 106, ../sass/theme/_global.scss */
legend a:hover {
  color: #00c2e7;
}

/* line 112, ../sass/theme/_global.scss */
td {
  line-height: 2;
  padding: 0.5rem 0.25rem;
}

/* line 117, ../sass/theme/_global.scss */
.description {
  font-style: italic;
  font-size: 0.8rem;
}

/* line 122, ../sass/theme/_global.scss */
.links.inline {
  padding: 0;
}
/* line 124, ../sass/theme/_global.scss */
.links.inline li {
  display: inline-block;
  margin: 0.5rem;
}

/* line 1, ../sass/theme/_forms.scss */
label {
  display: block;
  font: normal 12px/1 "RobotoBlack", sans-serif;
  color: #00c2e7;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
/* line 8, ../sass/theme/_forms.scss */
label .form-required {
  color: #ed5f00;
}
/* line 11, ../sass/theme/_forms.scss */
label.option {
  color: #707070;
  text-transform: none;
  vertical-align: middle;
  margin-bottom: 8px;
  display: inline;
  cursor: pointer;
}

/* line 22, ../sass/theme/_forms.scss */
input,
textarea {
  display: block;
  background: white;
  padding: 24px 28px;
  border: 1px solid #dbdbdb;
  border-bottom: 3px solid #dbdbdb;
  width: 100%;
  font: normal 18px/1.5 "RobotoLight", sans-serif;
  color: #707070;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s;
}
/* line 33, ../sass/theme/_forms.scss */
input:focus,
textarea:focus {
  border-bottom-color: #00c2e7;
  outline: 0;
}
/* line 37, ../sass/theme/_forms.scss */
input.error,
textarea.error {
  border-bottom-color: #ed5f00;
}
/* line 40, ../sass/theme/_forms.scss */
input[disabled=disabled],
textarea[disabled=disabled] {
  background: #f4f4f4;
  border-bottom-color: #c8c8c8;
}
/* line 44, ../sass/theme/_forms.scss */
input[type=checkbox],
textarea[type=checkbox] {
  width: auto;
  display: inline-block;
}

/* line 50, ../sass/theme/_forms.scss */
textarea {
  padding-bottom: 40px;
}

/* line 54, ../sass/theme/_forms.scss */
input[type="submit"] {
  display: inline-block;
  background: #dbdbdb;
  color: white;
  font: normal 22px/1 "RobotoBold", sans-serif;
  width: auto;
  padding: 1.5rem 3rem;
  border: none !important;
  margin: 0 1.5rem 1.5rem 0;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
/* line 66, ../sass/theme/_forms.scss */
input[type="submit"]#edit-submit, input[type="submit"]#edit-save, input[type="submit"]#edit-continue {
  background: #00c2e7;
}
/* line 69, ../sass/theme/_forms.scss */
input[type="submit"]#edit-submit:hover, input[type="submit"]#edit-submit:focus, input[type="submit"]#edit-save:hover, input[type="submit"]#edit-save:focus, input[type="submit"]#edit-continue:hover, input[type="submit"]#edit-continue:focus {
  background: #00b5d8;
}
/* line 75, ../sass/theme/_forms.scss */
input[type="submit"]#edit-delete, input[type="submit"]#edit-cancel, input[type="submit"].remove {
  background: #ed5f00;
}
/* line 78, ../sass/theme/_forms.scss */
input[type="submit"]#edit-delete:hover, input[type="submit"]#edit-delete:focus, input[type="submit"]#edit-cancel:hover, input[type="submit"]#edit-cancel:focus, input[type="submit"].remove:hover, input[type="submit"].remove:focus {
  background: #d35500;
}
/* line 83, ../sass/theme/_forms.scss */
input[type="submit"]:hover, input[type="submit"]:focus {
  background: #c8c8c8;
}

/* line 118, ../sass/theme/_forms.scss */
fieldset,
.container-inline {
  border: 1px solid #dbdbdb;
  padding: 2rem;
}

/* line 123, ../sass/theme/_forms.scss */
.form-wrapper {
  margin-bottom: 2rem;
}
/* line 125, ../sass/theme/_forms.scss */
.form-wrapper:last-child {
  margin-bottom: 0;
}

/* line 130, ../sass/theme/_forms.scss */
.form-field-type-field-collection {
  border: 0.5rem solid #dbdbdb;
  padding: 0.5rem;
}

/* line 135, ../sass/theme/_forms.scss */
.form-item {
  margin-bottom: 60px;
}
/* line 137, ../sass/theme/_forms.scss */
.form-item:last-child {
  margin-bottom: 0;
}
/* line 140, ../sass/theme/_forms.scss */
.form-item.form-type-password-confirm {
  position: relative;
}
/* line 142, ../sass/theme/_forms.scss */
.form-item.form-type-password-confirm .password-strength {
  position: absolute;
  right: 0;
  top: 32px;
  width: 50%;
  height: 32px;
  border: 1px solid #dbdbdb;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 152, ../sass/theme/_forms.scss */
.form-item.form-type-password-confirm .password-indicator {
  background-color: white;
  height: 100%;
}
/* line 157, ../sass/theme/_forms.scss */
.form-item.form-type-password-confirm .password-strength-title,
.form-item.form-type-password-confirm .password-strength-text {
  font: normal 12px/32px "RobotoMedium", sans-serif;
  position: absolute;
  top: 0;
  left: 20px;
  color: #00b5d8;
}
/* line 164, ../sass/theme/_forms.scss */
.form-item.form-type-password-confirm .password-strength-text {
  left: auto;
  right: 20px;
}
/* line 168, ../sass/theme/_forms.scss */
.form-item.form-type-password-confirm .indicator {
  background: #9ef0ff;
}
/* line 173, ../sass/theme/_forms.scss */
.form-item.confirm-parent > div {
  position: absolute;
  left: -20px;
  top: -2px;
  text-indent: -9999px;
  width: 14px;
  height: 12px;
  margin: 0;
}
/* line 182, ../sass/theme/_forms.scss */
.form-item.confirm-parent .ok {
  background: url(../img/check.png) no-repeat;
  width: 14px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 189, ../sass/theme/_forms.scss */
.form-item.confirm-parent .ok:after {
  content: '';
  background: url(../img/check.png) no-repeat;
  width: 14px;
  height: 12px;
  position: absolute;
  top: 171px;
  left: 0;
}
/* line 200, ../sass/theme/_forms.scss */
.form-item .password-suggestions {
  position: absolute;
  right: 0;
  top: 86px;
  width: 50% !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 210, ../sass/theme/_forms.scss */
.form-item .description {
  font: normal 12px/1.5 "RobotoMedium", sans-serif;
  color: #c8c8c8;
  margin-top: 12px;
}

/* line 221, ../sass/theme/_forms.scss */
.form-radios .form-item,
.form-checkboxes .form-item,
.form-type-checkbox .form-item,
.form-type-radio .form-item {
  margin-bottom: 0 !important;
}

/* line 226, ../sass/theme/_forms.scss */
.fieldset-description {
  margin-bottom: 40px;
  font-family: "RobotoLightItalic", sans-serif;
}

/* line 234, ../sass/theme/_forms.scss */
.collapsible.collapsed legend a:before {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
/* line 240, ../sass/theme/_forms.scss */
.collapsible legend a {
  text-decoration: none !important;
}
/* line 242, ../sass/theme/_forms.scss */
.collapsible legend a:before {
  content: '';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #c8c8c8;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  vertical-align: middle;
  margin-bottom: 4px;
}

/* line 256, ../sass/theme/_forms.scss */
.form-type-textfield {
  position: relative;
}
/* line 258, ../sass/theme/_forms.scss */
.form-type-textfield input {
  position: relative;
  z-index: 1;
}
/* line 262, ../sass/theme/_forms.scss */
.form-type-textfield .field-suffix {
  position: absolute;
  z-index: 10;
  right: 28px;
  top: 50%;
  margin-top: -12px;
}
/* line 269, ../sass/theme/_forms.scss */
.form-type-textfield .machine-name-label {
  display: none;
}
/* line 272, ../sass/theme/_forms.scss */
.form-type-textfield .machine-name-value {
  color: #c8c8c8;
  margin-right: 8px;
}
/* line 278, ../sass/theme/_forms.scss */
.form-type-textfield .admin-link:after, .form-type-textfield .admin-link:before {
  content: '';
}

/* line 286, ../sass/theme/_forms.scss */
select {
  background: white !important;
  color: #707070;
  font: normal 18px/1.5 "RobotoLight", sans-serif;
  border: 1px solid #dbdbdb;
  border-bottom: 3px solid #dbdbdb !important;
  padding: 1rem 2rem 1rem 1.3rem;
  position: relative;
  z-index: 10;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
}
/* line 300, ../sass/theme/_forms.scss */
select.highlighted {
  background: #00c2e7;
}

/* line 305, ../sass/theme/_forms.scss */
.link-field-subrow {
  display: flex;
}

/* line 309, ../sass/theme/_forms.scss */
#content .vertical-tabs {
  margin: 0 0 2rem;
  display: flex;
  border: 1rem solid #dbdbdb;
}
/* line 313, ../sass/theme/_forms.scss */
#content .vertical-tabs .vertical-tabs-list {
  border: none;
  background: #dbdbdb;
  color: #707070;
  width: 30rem;
  margin: 0;
}
/* line 319, ../sass/theme/_forms.scss */
#content .vertical-tabs .vertical-tabs-list li {
  border: none;
  background: none;
  font-size: 18px;
}
/* line 324, ../sass/theme/_forms.scss */
#content .vertical-tabs .vertical-tabs-list li:hover, #content .vertical-tabs .vertical-tabs-list li:focus {
  outline: none;
}
/* line 327, ../sass/theme/_forms.scss */
#content .vertical-tabs .vertical-tabs-list li a:after {
  content: "";
  display: block;
  width: 0;
  padding: 0.5rem;
  background: #9ef0ff;
  border: 0.5em solid #f4f4f4;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -1em 0 0 -1rem;
  opacity: 0;
  transition: opacity 0.15s ease, border 0.15s ease;
}
/* line 342, ../sass/theme/_forms.scss */
#content .vertical-tabs .vertical-tabs-list li.selected {
  color: #c8c8c8;
}
/* line 344, ../sass/theme/_forms.scss */
#content .vertical-tabs .vertical-tabs-list li.selected a:after {
  opacity: 1;
}
/* line 348, ../sass/theme/_forms.scss */
#content .vertical-tabs .vertical-tabs-list li a {
  padding: 2rem;
  position: relative;
  color: inherit;
}
/* line 353, ../sass/theme/_forms.scss */
#content .vertical-tabs .vertical-tabs-list li a:hover, #content .vertical-tabs .vertical-tabs-list li a:focus {
  outline: none;
}
/* line 357, ../sass/theme/_forms.scss */
#content .vertical-tabs .vertical-tabs-list li strong {
  color: inherit;
}
/* line 361, ../sass/theme/_forms.scss */
#content .vertical-tabs .vertical-tabs-list .summary:not(:empty) {
  display: block;
  font-style: italic;
  font-size: 11px;
  margin-top: 16px;
}
/* line 368, ../sass/theme/_forms.scss */
#content .vertical-tabs .vertical-tabs-panes {
  flex: auto;
  width: 100%;
}
/* line 372, ../sass/theme/_forms.scss */
#content .vertical-tabs .vertical-tabs-pane {
  padding: 2rem;
}

/* line 379, ../sass/theme/_forms.scss */
#edit-title {
  padding: 24px 0;
  background: none;
  border: none;
  border-bottom: 3px solid #00c2e7;
  font-weight: 200;
  font-size: 2.5em;
  color: #00b5d8;
  padding: 0 0 24px;
}
/* line 388, ../sass/theme/_forms.scss */
#edit-title:focus {
  outline: none;
}

/* line 393, ../sass/theme/_forms.scss */
.form-type-checkbox + .form-type-checkbox {
  margin-top: 0;
}

/* line 397, ../sass/theme/_forms.scss */
.button {
  padding: 1rem 2.5rem;
  background-color: #DDD;
  color: white;
  font-family: "RobotoBold";
  margin-right: 1rem;
}

/* line 407, ../sass/theme/_forms.scss */
.context-plugins .context-plugin-form .form-checkboxes {
  max-height: none;
}
/* line 411, ../sass/theme/_forms.scss */
.context-plugins .context-plugin-info {
  padding: 2rem;
}

/* line 2, ../sass/theme/_content.scss */
.progress .bar {
  background: white;
  border: 1px solid #dbdbdb;
  margin-bottom: 8px;
}
/* line 7, ../sass/theme/_content.scss */
.progress .filled {
  background: #00c2e7;
  border: 1px solid #00c2e7;
  margin: -1px;
}

/* line 3, ../sass/maintenance.scss */
body, html {
  height: 100%;
  min-height: 100%;
}

/* line 8, ../sass/maintenance.scss */
#logo {
  display: block;
  text-align: center;
  margin: 24px 0;
}
/* line 12, ../sass/maintenance.scss */
#logo + #name-and-slogan {
  display: none;
}

/* line 21, ../sass/maintenance.scss */
#header,
#content,
#page,
#main,
.sidebars {
  height: 100%;
  min-height: 100%;
}

/* line 26, ../sass/maintenance.scss */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 140px;
  background: #00c2e7;
}

/* line 32, ../sass/maintenance.scss */
.sidebars {
  position: fixed;
  left: 140px;
  top: 0;
  z-index: 1;
  width: 214px;
  background: #9ef0ff;
}
/* line 36, ../sass/maintenance.scss */
.sidebars ol {
  list-style: none;
}
/* line 38, ../sass/maintenance.scss */
.sidebars ol li {
  font: normal 18px/1.25 "RobotoMedium", sans-serif !important;
  color: #00b5d8;
  margin: 48px 0;
  padding: 0 36px;
  position: relative;
}
/* line 44, ../sass/maintenance.scss */
.sidebars ol li.done {
  text-decoration: line-through;
}
/* line 47, ../sass/maintenance.scss */
.sidebars ol li.active {
  color: white;
}
/* line 49, ../sass/maintenance.scss */
.sidebars ol li.active:after {
  content: '';
  position: absolute;
  right: -21px;
  top: 50%;
  height: 42px;
  width: 42px;
  z-index: 1;
  margin-top: -21px;
  background: #f4f4f4;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  -o-border-radius: 21px;
  border-radius: 21px;
}
/* line 61, ../sass/maintenance.scss */
.sidebars ol li.active:before {
  content: '';
  position: absolute;
  right: -8px;
  top: 50%;
  height: 16px;
  width: 16px;
  z-index: 10;
  margin-top: -8px;
  background: #9ef0ff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 78, ../sass/maintenance.scss */
#content {
  margin-left: 354px;
  padding: 60px 110px;
}

/* line 85, ../sass/maintenance.scss */
.messages {
  margin-bottom: 40px;
}
/* line 87, ../sass/maintenance.scss */
.messages li {
  color: #ed5f00;
}
