/* -- General -- */
/* line 3, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-shadow: none;
  vertical-align: baseline;
  background: transparent;
}

/* line 4, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
html {
  position: relative;
  overflow-y: scroll;
}

/* line 5, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
body {
  line-height: 1.5;
  font-size: 16px;
}

/* line 6, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
html, body {
  min-height: 100%;
}

/* line 7, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
ul {
  list-style: none;
}

/* line 8, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
ol {
  list-style: decimal;
}

/* line 9, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
nav ul, nav ol {
  list-style: none;
}

/* line 10, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
blockquote, q {
  quotes: none;
}

/* line 11, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
ins {
  text-decoration: none;
}

/* line 12, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
del {
  text-decoration: line-through;
}

/* line 13, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 14, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
textarea {
  resize: none;
  overflow: auto;
}

/* line 15, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
input, select, button {
  line-height: normal;
  vertical-align: middle;
}

/* line 16, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
a, textarea {
  font: inherit;
}

/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
a, a *, input[type="submit"], input[type="button"], button, button * {
  cursor: pointer;
}

/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
[hidden] {
  display: none;
}

/* line 19, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
:before, :after {
  content: '';
  content: none;
}

/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
:hover {
  outline: 0;
}

/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
:focus {
  outline: thin dotted;
}

/* -- HTML5 -- */
/* line 25, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
i, cite, var, address, dfn {
  font-style: normal;
}

/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* -- Font Styles -- */
/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 33, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
pre, code, kbd, samp, tt, var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
}

/* -- Image Styles -- */
/* line 37, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* -- Firefox Only -- */
/* line 41, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_awp-reset.scss */
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 2, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_globals.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}

/* line 1, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_layout.scss */
#region-page-bottom {
  overflow: hidden;
}

/* -- Navigation Styles -- */
/* line 7, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_layout.scss */
.navigation > ul.menu {
  float: left;
  width: 100%;
}

/* line 12, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_layout.scss */
.navigation ul.menu li {
  position: relative;
  list-style: none;
  list-style-image: none;
  z-index: 1;
}

/* line 19, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_layout.scss */
.navigation > ul.menu > li {
  float: left;
}

/* line 23, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_layout.scss */
.navigation ul ul li {
  margin: 0;
  padding: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_layout.scss */
.navigation ul ul {
  position: absolute;
  display: none;
}

/* line 33, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_layout.scss */
.navigation > ul > li:hover {
  z-index: 10;
}

/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_layout.scss */
.navigation > ul > li:hover > ul,
.navigation > ul > li.mobile-hover > ul {
  display: block;
}

/* line 42, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_layout.scss */
.navigation ul ul ul {
  display: none !important;
}

/* line 7, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_module.scss */
body .form-item,
body .form-actions,
body .item-list ul,
body .item-list ul li {
  margin: 0;
}

/* line 16, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_module.scss */
body #admin-menu a {
  font: normal 10px/1.5 Helvetica, Arial, sans-serif !important;
  text-transform: none !important;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_module.scss */
body .block div.contextual-links-wrapper {
  display: none;
}
/* line 29, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_module.scss */
body .block div.contextual-links-wrapper ul,
body .block div.contextual-links-wrapper li {
  padding: 0 !important;
  margin: 0 !important;
  content: '' !important;
  content: none !important;
  font: normal 12px/1.5 Helvetica, Arial, sans-serif !important;
  text-transform: none !important;
  background: white;
  list-style: none;
}
/* line 34, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_module.scss */
body .block div.contextual-links-wrapper ul:before, body .block div.contextual-links-wrapper ul:after,
body .block div.contextual-links-wrapper li:before,
body .block div.contextual-links-wrapper li:after {
  padding: 0 !important;
  margin: 0 !important;
  content: '' !important;
  content: none !important;
  font: normal 12px/1.5 Helvetica, Arial, sans-serif !important;
  text-transform: none !important;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_module.scss */
body .block div.contextual-links-wrapper a {
  display: block;
  text-decoration: none;
  font: inherit;
}
/* line 44, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_module.scss */
body .block.contextual-links-region-active {
  outline: 1px dashed #999;
}
/* line 48, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/dropcloth-0.0.3/stylesheets/dropcloth/_module.scss */
body .block:hover div.contextual-links-wrapper, body .block:focus div.contextual-links-wrapper {
  display: block;
}

@font-face {
  font-family: "RobotoRegular";
  src: url('fonts/Roboto-Regular-webfont.woff') format('woff'), url('fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('fonts/Roboto-Regular-webfont.svg') format('svg'), url('fonts/Roboto-Regular-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoItalic";
  src: url('fonts/Roboto-Italic-webfont.woff') format('woff'), url('fonts/Roboto-Italic-webfont.ttf') format('truetype'), url('fonts/Roboto-Italic-webfont.svg') format('svg'), url('fonts/Roboto-Italic-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoBold";
  src: url('fonts/Roboto-Bold-webfont.woff') format('woff'), url('fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('fonts/Roboto-Bold-webfont.svg') format('svg'), url('fonts/Roboto-Bold-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoBoldItalic";
  src: url('fonts/Roboto-Bold-webfont.woff') format('woff'), url('fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('fonts/Roboto-Bold-webfont.svg') format('svg'), url('fonts/Roboto-Bold-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoCondensed";
  src: url('fonts/Roboto-Condensed-webfont.woff') format('woff'), url('fonts/Roboto-Condensed-webfont.ttf') format('truetype'), url('fonts/Roboto-Condensed-webfont.svg') format('svg'), url('fonts/Roboto-Condensed-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoCondensedItalic";
  src: url('fonts/Roboto-CondensedItalic-webfont.woff') format('woff'), url('fonts/Roboto-CondensedItalic-webfont.ttf') format('truetype'), url('fonts/Roboto-CondensedItalic-webfont.svg') format('svg'), url('fonts/Roboto-CondensedItalic-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoBoldCondensedItalic";
  src: url('fonts/Roboto-BoldCondensedItalic-webfont.woff') format('woff'), url('fonts/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'), url('fonts/Roboto-BoldCondensedItalic-webfont.svg') format('svg'), url('fonts/Roboto-BoldCondensedItalic-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoThin";
  src: url('fonts/Roboto-Thin-webfont.woff') format('woff'), url('fonts/Roboto-Thin-webfont.ttf') format('truetype'), url('fonts/Roboto-Thin-webfont.svg') format('svg'), url('fonts/Roboto-Thin-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoThinItalic";
  src: url('fonts/Roboto-ThinItalic-webfont.woff') format('woff'), url('fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'), url('fonts/Roboto-ThinItalic-webfont.svg') format('svg'), url('fonts/Roboto-ThinItalic-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoLight";
  src: url('fonts/Roboto-Light-webfont.woff') format('woff'), url('fonts/Roboto-Light-webfont.ttf') format('truetype'), url('fonts/Roboto-Light-webfont.svg') format('svg'), url('fonts/Roboto-Light-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoLightItalic";
  src: url('fonts/Roboto-LightItalic-webfont.woff') format('woff'), url('fonts/Roboto-LightItalic-webfont.ttf') format('truetype'), url('fonts/Roboto-LightItalic-webfont.svg') format('svg'), url('fonts/Roboto-LightItalic-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoMedium";
  src: url('fonts/Roboto-Medium-webfont.woff') format('woff'), url('fonts/Roboto-Medium-webfont.ttf') format('truetype'), url('fonts/Roboto-Medium-webfont.svg') format('svg'), url('fonts/Roboto-Medium-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoMediumItalic";
  src: url('fonts/Roboto-MediumItalic-webfont.woff') format('woff'), url('fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'), url('fonts/Roboto-MediumItalic-webfont.svg') format('svg'), url('fonts/Roboto-MediumItalic-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoBlack";
  src: url('fonts/Roboto-Black-webfont.woff') format('woff'), url('fonts/Roboto-Black-webfont.ttf') format('truetype'), url('fonts/Roboto-Black-webfont.svg') format('svg'), url('fonts/Roboto-Black-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "RobotoBlackItalic";
  src: url('fonts/Roboto-BlackItalic-webfont.woff') format('woff'), url('fonts/Roboto-BlackItalic-webfont.ttf') format('truetype'), url('fonts/Roboto-BlackItalic-webfont.svg') format('svg'), url('fonts/Roboto-BlackItalic-webfont.eot') format('embedded-opentype');
}

/* line 1, ../sass/theme/_global.scss */
body {
  background: #f4f4f4;
  color: #707070;
  font-family: "RobotoRegular", sans-serif;
}

/* line 7, ../sass/theme/_global.scss */
h1 {
  font: normal 39px/1.5 "RobotoThin", sans-serif;
  color: #00c2e7;
  border-bottom: 3px solid #00c2e7;
  margin-bottom: 48px;
}

/* line 34, ../sass/theme/_global.scss */
p {
  margin-bottom: 20px;
}

/* line 1, ../sass/theme/_forms.scss */
label {
  display: block;
  font: normal 12px/1 "RobotoBlack", sans-serif;
  color: #00c2e7;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
/* line 8, ../sass/theme/_forms.scss */
label .form-required {
  color: #e4870d;
}
/* line 11, ../sass/theme/_forms.scss */
label.option {
  display: inline;
  margin-left: 8px;
  color: #707070;
  text-transform: none;
}

/* line 20, ../sass/theme/_forms.scss */
input,
textarea {
  background: white;
  padding: 24px 28px;
  font: normal 16px/1 "RobotoMedium", sans-serif;
  border: 1px solid #dbdbdb;
  border-bottom: 3px solid #00c2e7;
  width: 100%;
  font: normal 18px/1.5 "RobotoLight", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s;
}
/* line 30, ../sass/theme/_forms.scss */
input:focus,
textarea:focus {
  border-bottom-color: #00b5d8;
}

/* line 35, ../sass/theme/_forms.scss */
textarea {
  padding-bottom: 40px;
}

/* line 39, ../sass/theme/_forms.scss */
input[type="submit"] {
  background: #00c2e7;
  color: white;
  font: normal 22px/1 "RobotoBold", sans-serif;
  width: 308px;
  height: 70px;
  margin-top: 40px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
/* line 48, ../sass/theme/_forms.scss */
input[type="submit"]:hover, input[type="submit"]:focus {
  background: #00b5d8;
}

/* line 54, ../sass/theme/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-bottom: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 60, ../sass/theme/_forms.scss */
.form-item {
  margin-bottom: 40px !important;
}
/* line 62, ../sass/theme/_forms.scss */
.form-item .description {
  font: normal 12px/1 "RobotoMedium", sans-serif;
  color: #c8c8c8;
  margin-top: 12px;
}

/* line 71, ../sass/theme/_forms.scss */
.form-radios .form-item,
.form-checkboxes .form-item {
  margin-bottom: 0 !important;
}

/* line 3, ../sass/maintenance.scss */
body, html {
  height: 100%;
  min-height: 100%;
}

/* line 8, ../sass/maintenance.scss */
#logo {
  display: block;
  text-align: center;
  margin: 24px 0;
}
/* line 12, ../sass/maintenance.scss */
#logo + #name-and-slogan {
  display: none;
}

/* line 21, ../sass/maintenance.scss */
#header,
#content,
#page,
#main,
.sidebars {
  height: 100%;
  min-height: 100%;
}

/* line 26, ../sass/maintenance.scss */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 140px;
  background: #00c2e7;
}

/* line 32, ../sass/maintenance.scss */
.sidebars {
  position: fixed;
  left: 140px;
  top: 0;
  z-index: 1;
  width: 214px;
  background: #9ef0ff;
}
/* line 36, ../sass/maintenance.scss */
.sidebars ol {
  list-style: none;
}
/* line 38, ../sass/maintenance.scss */
.sidebars ol li {
  font: normal 18px/1.25 "RobotoMedium", sans-serif !important;
  color: #00b5d8;
  margin: 48px 0;
  padding: 0 36px;
  position: relative;
}
/* line 44, ../sass/maintenance.scss */
.sidebars ol li.done {
  text-decoration: line-through;
}
/* line 47, ../sass/maintenance.scss */
.sidebars ol li.active {
  color: white;
}
/* line 49, ../sass/maintenance.scss */
.sidebars ol li.active:after {
  content: '';
  position: absolute;
  right: -21px;
  top: 50%;
  height: 42px;
  width: 42px;
  z-index: 1;
  margin-top: -21px;
  background: #f4f4f4;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  -o-border-radius: 21px;
  border-radius: 21px;
}
/* line 61, ../sass/maintenance.scss */
.sidebars ol li.active:before {
  content: '';
  position: absolute;
  right: -8px;
  top: 50%;
  height: 16px;
  width: 16px;
  z-index: 10;
  margin-top: -8px;
  background: #9ef0ff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 78, ../sass/maintenance.scss */
#content {
  margin-left: 354px;
  padding: 60px 110px;
}
